body {
    font-family: "Lato";
    min-width: 1020px;
}

header {
    background-color: #323232;
    height: 63px;
    position: relative;
}

header h1 {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

header:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 47px solid transparent;
    border-right: 47px solid transparent;
    border-top: 27px solid #323232;
    position: absolute;
    left: 50%;
    top: 63px;
    margin-left: -25px;
    transform: translateX(-22.5%);
    z-index: 2;
}

header ul {
    display: flex; 
    justify-content: center;
}

.nav-item {
    font-size: 7.21379pt;
    text-align: justify;
    margin-top: 32px;
    text-transform: uppercase; 
}

.nav-item:first-child {
    margin-left: 3px;
}

.nav-item-m {
    margin-left: 2px; 
}

.circle {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background-color: #484c5f;
    margin: 0 11px 3px 11px;
}

.selected {
    color: #2eb398;
}

.logo {
    width: 64px;
    height: 55px;
    display: inline-block;
    margin: -22px 39px 0 37px;
}


main {
    max-width: 100%;
     
 }

.h-line {
    margin: 0 auto;
    position: relative;
    width: 960px; 
    text-align: center;
    height: 11px; 
}

.h-line-top {
    border-bottom: 1px solid #e4e9eb;
}

.h-line-bottom {
    border-top: 1px solid #e4e9eb;
}

.h-line-top div {
    background-color: #fff;
    position: relative;
    height: 12px;
    width: 140px;
    margin: 0 auto;
}

.hexagon-container {
    padding-top: 68px;
    text-align: center;
}

.hexagon {
    width: 180px;
    height: 210px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    margin: 8px;
}

.row-native:before, .row-native:after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 104px;
    border-radius: 100%;
    background-color: #e4e9eb;
    position: absolute;
    top: 60px;
}

.row-native:after {
    right: -15px;
}

.author:after {
    right: -14px;
}

.row-native:before, .author:before {
    left: -13px;
}

.hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
}

.row-transite, .row-native {
    display: inline-block;
    position: relative;
}

.row-native {
    margin-left: -1px;  
}

.row-transite {
    margin-left: -2px;  
}

.row-transite .hexagon {
    position: relative;
    top: -60px;   
}

.row-native:not(:first-child) {
    margin-top: -120px;
    padding-bottom: 40px; 
}

.pagination-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto 9px auto;
    width: 960px;
    text-align: left;
  }

.pagination span{
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    background-color: #ddd2c5;
  }

  .pagination span.active{
    background-color: #8b8784;
  }

.about {
    background-color: #2eb398;
    padding-top: 12px;
    padding-bottom: 13px;
    position: relative;
    text-align: center;
}

.author-img {
    margin-left: -120px;
}

.author {
    display: inline-block;
    position: relative;
    padding-top: 46px;
    padding-bottom: 42px;
}

.author:before, .author:after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 100%;
    border-radius: 100%;
    background-color: #219d84;
    position: absolute;
    top: 0;  
}

.author-text {
   display: inline-block;
   width: 581px;
   margin: 6px 9px 0 8px;
   font-size: 12px;
   color: rgba(215, 252, 245, 255);
   text-align: justify;
   vertical-align: top;
}

.v-line-left, .v-line-right {
    border-color: #219d84;
    border-style: solid;
    display: inline-block;
}

.v-line-left {
    border-width: 0 0 0 1px;
    margin-left: 99px; 
    padding-left: 20px;
}

.v-line-right {
    border-width: 0 1px 0 0;
    margin-right: 99px; 
    padding-right: 20px;
}

.author-text h3 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: lighter;
    font-size: 22pt;
    margin: 0;
}

.author-text-p1 {
    font-family: "Maven Pro";
    font-size: 13pt;
    color: rgba(32, 129, 109, 255);
    text-align: justify;
    margin: 3px 0 16px 3px;
}

.author-text-p2 {
    line-height: 1.8;
}

.social-media {
    text-align: right;
    margin-top: 37px;
}

.social-media a {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social-media a:hover img {
    opacity: 0.4;         
}

.social-media a img {
    position: relative;
    margin-left: -1px;
}

footer {   
    max-width: 100%;
    background-color: #323232;
    text-align: center;   
}

footer .h-line-top {
    border-bottom: 1px solid #2b2b2b; 
}

footer .h-line-bottom {
    border-top: 1px solid #2b2b2b; 
}

.get-in-touch {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 104px;
}

.in-touch-form {
    display: inline-block;
    width: 580px;
    position: relative;
}

.in-touch-form legend {
    font-family: "Maven Pro";
    font-size: 30px;
    color: rgba(224, 224, 224, 255);
    text-align: justify;
}

.in-touch-form p {
    font-family: "Maven Pro";
    font-size: 18px;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
    padding: 3px 0 20px 2px;
}

.in-touch-form input {
    display: block;
    width: 550px;
    height: 12px;
    background-color: #454545;
    margin-bottom: 16px;
    border: none;
    padding: 13px 15px; 
    color: #bebebe;
    font-size: 11px;
}

input::-moz-placeholder {
    color: #bebebe; 
   }
   input::-webkit-input-placeholder { color: #bebebe; }
   input:-ms-input-placeholder { color: #bebebe; }
   input::-ms-input-placeholder { color: #bebebe; }
   input::placeholder { color: #bebebe; } 

.in-touch-form textarea {
    background-color: #454545;
    width: 550px;
    border: none;
    padding: 13px 15px; 
    color: #bebebe;
    font-size: 11px;
    height: 124px;
}

button {
    position: absolute;
    bottom: -52px;
    right: 0;
    background-color: #2eb398;
    border: none;
    font-size: 11px;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
    padding: 12px 30px;
}

.add-info {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    font-size: 12px;
    color: rgba(224, 224, 224, 255);
    text-align: justify;
    margin-top: 67px;
    margin-left: 17px;
    line-height: 1.8;
    
}

.contacts {
    margin-top: 37px;
    margin-left: 2px;
}


.contacts img {
    padding-right: 14px;
}

.copyright {
    background-color: #222222;
    height: 13px;
    padding: 15px 39px;
    font-family: "Maven Pro";
    font-size: 8.65655pt;
    color: rgba(69, 69, 69, 255);
    text-align: justify;
}

.copyright div {
    width: 940px;
    margin: 0 auto;
}